.author-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&__value {
		margin: 0 10px;
		text-transform: uppercase;
		font-weight: 600;
	}
	&__rating {
		&-part:first-child {
			margin-left: 5px;
		}
	}
}
