.button {
	background-color: $middleBlue;
	border: 0;
	padding: 10px 20px;
	border-radius: 50%;
	transition: .7;
	font-size: 16px;
	color: white;
	min-width: 100px;
	text-align: center;
	vertical-align: center;
	&-wrapper {
		display: flex;
		margin-bottom: 40px;
		width: 100%;

	}
	&:disabled {
		background-color: $disabledBlue;

		&:hover {
			border-radius: 50%;
			cursor: not-allowed;
		}
	}

	&:hover {
		border-radius: 5%;
		transition: .7;
	}
}
