.menu {
	color: black;
	width: 20%;
	display: flex;
	justify-content: space-between;

	&__item {
		font-size: 20px;
		border-bottom: 8px solid transparent;
		transition: .3;

		&:hover {
			transition: .3;
			border-bottom: 8px solid $middleBlue;
		}
	}
}
