.question-info {
	margin-right: 10px;
	&__wrapper {
		display: flex;
		flex-direction: row;
		margin-top: 15px;
		@include font(13px);
		align-self: flex-end;
	}
	&__title {
		margin-right: 5px;
		font-style: italic;
	}
}

.questions {
	width: 90%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	&-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width:100%;
	}

	&__head {
		align-self: center;
	}
}

.question-wrapper {
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 20px;
	width: 100%;
	background-color: $green1;
	margin-bottom: 20px;
}

.question__link {
	&:hover {
		color: $green5;
	}
}

.question__description {
	color: $darkBlue;
}
