@mixin font ($size: 16px, $weight: 400, $line: normal) {
	font-weight: $weight;
	font-family: Tahoma, sans-serif;
	font-size: $size;
	line-height: $line;
	font-style: normal;
}

@mixin media-max($width) {
	@media only screen and (max-width: $width) {
		@content;
	}
}
