$darkBlue: rgb(16, 16, 80);
$middleBlue: rgb(43, 43, 151);
$lightBlue: rgb(236, 245, 255);
$disabledBlue: rgb(115, 115, 160);
$green1: rgb(197, 241, 224);
$green2: rgb(139, 218, 188);
$green3: rgb(66, 184, 138);
$green4: rgb(34, 155, 108);
$green5: rgb(9, 112, 73);
$grey: rgb(248, 248, 248);
